<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About Marianne</h5>
        <p class="grey-text text-lighten-4">Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s, when an unknown printer took a galley
          of type and scrambled it to make a type specimen book.</p>


      </div>
      <div class="col l3 s12 offset-l3">
        <h5 class="white-text">Connect</h5>
        <ul class="social-links">
          <li><a class="white-text" href="#!"><i class="mdi mdi-facebook"></i> Facebook</a></li>
          <li><a class="white-text" href="#!"><i class="mdi mdi-twitter"></i> Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="brown-text text-lighten-3" href="https://yeomans.io">Jason Yeomans</a>.
      The <a class="brown-text text-lighten-3" href="https://github.com/YeomansIII/healthycookingfortoday">code</a>.
    </div>
  </div>
</footer>
