<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About Marianne</h5>
        <p class="grey-text text-lighten-4">Food writer for eleven years for a local newspaper. My HealthyCookingForToday website has been online since August of 2008.</p>


      </div>
      <div class="col l3 s12 offset-l3">
        <h5 class="white-text">Connect</h5>
        <ul class="social-links">
          <li><a class="white-text" href="https://www.facebook.com/HealthyCookingForToday/"><i class="mdi mdi-facebook"></i> Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="brown-text text-lighten-3" href="https://yeomans.io">Jason Yeomans</a>.
      The <a class="brown-text text-lighten-3" href="https://github.com/YeomansIII/healthycookingfortoday">code</a>.
    </div>
  </div>
</footer>
