<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo hide-on-small-only">Healthy Cooking For Today</a>
    <a id="logo-container" href="/" class="brand-logo hide-on-med-and-up">Healthy Cooking</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/list">Articles</a></li>
      <li><a href="/recipes">Recipes</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/list">Articles</a></li>
      <li><a href="/recipes">Recipes</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi mdi-menu"></i></a>
  </div>
</nav>
