{% load admin_urls %}

<div class="section post">
  <!--<img class="post-head-img" src="http://www.healthycookingfortoday.com/IMG_0848.JPG"/>-->
  <div class="post-title-wrapper">
    <h1 class="post-title">{{post.title}} {% if user.is_authenticated %}
      <small><a href="{% url post|admin_urlname:'change' post.id %}">(edit)</a></small>
      {% endif %}</h1>
  </div>
  <div class="flow-text post-info">
    <p class="post-created-author"><i>Posted by {{post.author}} on {{post.publish_at.date}}</i></p>
  </div>
  <div class="post-body flow-text">{{post.body|safe}} </div>
  {% for recipe, ingredients, steps in recipes %}
  <div class="card large">
    <div class="card-content">
      <div class="card-title">{{ recipe.name }}</div>
      <p>
        {{ recipe.text | safe }}
      </p>
      <div class="row">
        <img class="col s12 m6" src="{{recipe.image.get_absolute_url}}" />        {% for ingredient in ingredients %}
        <div class="col s12 m6">
          {{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.name }}
        </div>
        {% endfor %}
      </div>
      <ol>
        {% for step in steps %}
        <li>
          {{ step.text }}
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
  {% endfor %}
</div>
