{% load admin_urls %}

<div class="section post">
  <!--<img class="post-head-img" src="http://www.healthycookingfortoday.com/IMG_0848.JPG"/>-->
  <div class="post-title-wrapper">
    <h1 class="post-title">{{post.title}} {% if user.is_authenticated %}
      <small><a href="{% url post|admin_urlname:'change' post.id %}">(edit)</a></small>
      {% endif %}</h1>
  </div>
  <div class="flow-text post-info">
    <p class="post-created-author"><i>Posted by {{post.author}} on {{post.publish_at.date}}</i></p>
  </div>
  <div class="post-body flow-text">{{post.body|safe}} {% for recipe in post.recipes.all %}
    <h4>{{ recipe.name }}</h4>
    <p>
      {{ recipe.text | safe }}
    </p>
    <div class="row">
      {% for ingredient in recipe.ingredients.all %}
      <div class="col s12">
        {{ ingredient.quantity }}{{ ingredient.unit }} {{ ingredient.name }}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
