{% load admin_urls %}

<div class="card large recipe">
  <div class="card-title"><a href="{{recipe.get_absolute_url}}">{{ recipe.title }}</a>{% if user.is_authenticated %}
    <small><a href="{% url recipe|admin_urlname:'change' recipe.id %}">(edit)</a></small>
    {% endif %}</div>
  <div class="card-content flow-text">
    <div class="row ingredients">
      {% if recipe.image %}<img class="col s12 m6" src="{{recipe.image.get_absolute_url}}"
      />{% endif %} {% for ingredient in ingredients %}
      <div class="col s12 m6 ingredient">
        {{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.name }}
      </div>
      {% endfor %}
    </div>
    {% for step in steps %}
    <div class="row step">
      <div class="col s2 m1" style="text-align: center">
        <div class="step-num">
          {{ forloop.counter }}
        </div>
      </div>
      <div class="col s10 m11">
        {{ step.text }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
