{% load admin_urls %}

<div class="card large recipe">
  <div class="card-title"><a href="{{recipe.get_absolute_url}}">{{ recipe.title }}</a>{% if user.is_authenticated %}
    <a href="{% url recipe|admin_urlname:'change' recipe.id %}"><i class="mdi mdi-pencil"></i></a>
    {% endif %}
    <div class="right">
      <a class="modal-trigger" href="#modal-recipe{{forloop.counter0}}"><i class="mdi mdi-share-variant"></i></a>
      <!-- Modal Structure -->
      <div id="modal-recipe{{forloop.counter0}}" class="modal-recipe modal-share modal bottom-sheet">
        <div class="modal-content">
          <h4>Share recipe via</h4>
          <div class="row shares">
            <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//healthycookingfortoday.com{{recipe.get_absolute_url}}" target="_blank"><div class="col l4 s12 share facebook"><i class="mdi mdi-facebook"></i> Facebook</div></a>
            <a href="https://twitter.com/home?status=Check%20out%20this%20amazing%20recipe%20for%20{{recipe.title|urlencode:""}}%20on%20Healthy%20Cooking%20for%20Today%0Ahttp%3A//healthycookingfortoday.com{{recipe.get_absolute_url}}" target="_blank"><div class="col l4 s12 share twitter"><i class="mdi mdi-twitter"></i> Twitter</div></a>
            <a href="https://plus.google.com/share?url=http%3A//healthycookingfortoday.com{{recipe.get_absolute_url}}" target="_blank"><div class="col l4 s12 share google-plus"><i class="mdi mdi-google-plus"></i> Google +</div></a>
          </div>
        </div>
      </div>
      {% if rprint %}
        <a href="javascript:window.print()"><i class="mdi mdi-printer"></i></a>
      {% else %}
        <a href="{{ recipe.get_absolute_url }}?print"><i class="mdi mdi-printer"></i></a>
      {% endif %}
    </div>
  </div>
  <div class="card-content flow-text">
    <div class="row ingredients">
      {% if recipe.image %}<img class="col s12 m6" src="{{recipe.image.get_absolute_url}}"
      />{% endif %} {% for ingredient in ingredients %}
      <div class="col s12 m6 ingredient">
        {{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.name }}
      </div>
      {% endfor %}
    </div>
    {% if steps %}
      {% for step in steps %}
      <div class="row step">
        <div class="col s2 m1" style="text-align: center">
          <div class="step-num">
            {{ forloop.counter }}
          </div>
        </div>
        <div class="col s10 m11">
          {{ step.text }}
        </div>
      </div>
      {% endfor %}
    {% else %}
      <div class="view-more">
        <a href="{{recipe.get_absolute_url}}">View Recipe</a>
      </div>
    {% endif %}
  </div>
</div>
