$small-and-down: 'only screen and (max-width : 600px)';
$medium-and-up: 'only screen and (min-width : 601px)';
$medium-and-down: 'only screen and (max-width : 992px)';
$large-and-up: 'only screen and (min-width : 993px)';
$black: #000;
$white: #fff;
$text-color: #444;
$teal: #26a69a;
$light-teal: #c0f0ec;
$semi-trans9-white: rgba(255, 255, 255, 0.9);
$semi-trans6-black: rgba(40, 40, 40, 0.6);
