.recipe.card {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 20px 0;
  height: auto;
  background: url('/static/images/linedpaper.png') repeat;
  .card-title {
    padding: 15px 25px;
    background-color: $teal;
    color: $white;
    font-weight: 400;
    font-size: 1.7rem;
    a {
      color: $white;
      transition: color 300ms;
      &:hover {
        color: $black;
      }
    }
    .right {
      float: right;

    }

  }
  .card-content {
    height: auto;
    //padding-top: 0;
    .ingredient {
      margin: 5px 0;
    }
    .step {
      .step-num {
        width: 1.7em;
        margin: auto;
        border: 2px solid $teal;
        border-radius: 1000px;
        //background-color: $light-teal;
      }
    }
    .view-more {
      text-align: right;
      //background-color: $white;
      a {
        transition: color 300ms;
        &:hover {
          color: $black;

        }
      }
    }
  }
}
.recipe-container {
  padding: 20px 0;
  .recipe-row {
    margin-bottom: 0;
  }
}
