{% extends 'layouts/base.html' %}
{% load admin_urls %}
{% load markdown_deux_tags %}
{% block title %}
HealthyCookingForToday
{% endblock %}
{% block content %}

<div id="index-banner" class="index-banner parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <br>
      <h1 class="header center white-text text-shadow">Healthy Cooking For Today</h1>
      <div class="row center">
        <h5 class="header col s12 text-shadow">A blog about healthy living and lifestyle, by Marianne Yeomans</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button"
        class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div>
      <br>
      <br>
    </div>
  </div>
  <div class="parallax">
    <img class="imageposition-bottom" src="/static/images/autumn-2.jpg" alt="Autumn parallax image">
  </div>
</div>


<div class="container">
  <div class="section">
    <h1>{{post.title}} {% if user.is_authenticated %}
      <small><a href="{% url post|admin_urlname:'change' post.id %}">(edit)</a></small>
      {% endif %}</h1>
    <p>By: {{post.author}}</p>
    <p>{{post.created_at}}</p>
    <p>{{post.body|markdown}}</p>
  </div>
</div>
{% endblock %}
