{% extends 'layouts/base.html' %}
{% block title %}
HealthyCookingForToday
{% endblock %}
{% block content %}

<div id="index-banner" class="index-banner parallax-container allalign">
  <div class="container allalign aa-col center">
    <br>
    <br>
    <h1 class="header center white-text header-tape">Healthy Cooking For Today</h1>
    <h5 class="header header-tape">A blog about healthy living and lifestyle, by Marianne Yeomans</h5>
    <div class="row center">
      <a href="/list" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">All Posts</a>
    </div>
    <br>
    <br>
  </div>
  <div class="parallax">
    <img class="imageposition-bottom" src="/static/images/autumn-2.jpg" alt="Autumn parallax image">
  </div>
</div>

<div class="container halign-row">
  <div class="row">
    <div class="col s12 m12 l10">
      {% include 'layouts/post.html' %}
    </div>
  </div>
</div>
{% endblock %}
